@import 'src/styles/mixins';
@import 'src/styles/vars';

.widget {
  height: 80vh;
  padding: 1vh;
  overflow: auto;
  /*   @include background; */


  .city {
    margin: 2vh 0 3vh 0;
    text-align: center;
    font-size: 2rem;
    ;
  }

  .info {
    text-align: left;
    font-size: 1.1rem;
    line-height: 2rem;
    width: 80%;
    margin: auto;
  }

  .waiting {
    text-align: center;
    margin-top: 30vh;
  }
}