@import 'src/styles/vars';

@mixin background {
  background-image: $mainBackgroundImage;
  background-size: contain;
}

@mixin headerANDfooter ($property) {
  height: 10vh;
  #{$property}: 3px solid white;
}

@mixin flexedANDcentered ($position) {
  display: flex;
  justify-content: $position;
  align-items: center;
}